@media print {
  @page {
    size: 210mm 297mm;
  }
}
.resume-page {
  display: flex;
  margin-top: 25px;
  margin-bottom: 50px;
  width: 100%;
  min-width: 23cm;
  z-index: 999;
  font-size: 13px;
  font-weight: 300;

  span {
    font-size: 13px !important;
  }

  .name-box {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    justify-content: center;
  }

  .page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    // box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);

    &.a4 {
      width: 21cm;
      height: 29.7cm;
    }

    .resume-content {
      margin: 0.9cm 1cm;
      display: flex;
      flex-direction: column;
    }

    .left-side {
      display: flex;
      flex-direction: column;
      width: 5.25cm;
      margin-right: 0.75cm;

      > * {
        display: flex;
        flex-direction: column;
      }
    }

    .right-side {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .left-side,
    .right-side {
      > :not(:first-child) {
        margin-top: 30px;
      }
    }

    img {
      width: 27px;
      height: 100%;
      margin-right: 10px;
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: cover !important;
    }

    .hobby img {
      width: 20px;
      height: 20px !important;
    }

    .tech,
    .hobby {
      display: flex;
      align-items: center;
      height: 30px;
      margin: 5px 0px;

      span {
        margin-top: 5px;
      }
    }

    .block-item {
      display: flex;
      flex-direction: column;

      .block-title {
        font-weight: 600;
      }
      .block-content {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .right-side .block-content {
    > :not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
